
:root {
    --header-height: 3rem;
    --font-semi: 600;

}

:root {
    --first-color: #F0BB78;
    --second-color: #543A14;
    --heading-color: #D8C4B6;
}

:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
}

@media screen and (max-width: 768px) {
    :root {
      --big-font-size: 2.5rem;
      --h1-font-size: 2rem;
      --h2-font-size: 1.2rem;
      --h3-font-size: 1.125rem;
      --normal-font-size: 0.875rem;
      --small-font-size: 0.75rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*==================== z index ====================*/

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*==================== BASE ====================*/

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* padding-right: 40px; */
    padding-top: var(--header-height);
    margin: var(--header-height) 20px 0 20px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,h2,h3,p {
    margin: 0;
    padding-top: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-left: 25px;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*==================== Class css ====================*/

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }

  .section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }

  /* .section {
    padding-top: 5rem;
    padding-bottom: 4rem;
  } */


/*==================== LAYOUT ====================*/

.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }

/*==================== NAV ====================*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }

.nav_list ul{
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        height: 100%;
        background-color: var(--second-color);
        width: 80%;
        padding: 1.5rem;
        transition: .5s;
    }

    .responsive-br {
        display: none;
    }

    ul {
        margin-left: 15px;
        margin-top: 15px;
    }

    li {
        margin-bottom: 8px;
        font-size: var(--small-font-size);
    }
    
    .about_text, .design_text {
        font-size: var(--small-font-size);
    }

    .design_container > div {
        padding: 20px; /* Adjust padding for smaller screens */
        text-align: left;
    }

    h3 {
        padding-top: 15px;
    }

    body {
        padding: 0;
    }
}

/* @media screen and (max-width: 767px) {
    .nav_menu {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: 0.5s;
    }
} */

.nav_item {
    margin-bottom: var(--mb-4);
}

.nav_link {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    transition: .3s;
    position: relative;
}

.nav_link:hover {
    position: relative;
}

.nav_link:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.18rem;
    background-color: var(--first-color);

    left: 0;
    top: 2rem;
}

.nav_logo {
    color: var(--second-color);
    font-size: var(--h3-font-size);
}

.nav_toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*==================== Active Menu ====================*/

.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.18rem;
    background-color: var(--first-color);
    left: 0;
    top: 2rem;
}

/*==================== show menu ====================*/

.show {
    right: 0;
}

/*==================== HOME ====================*/

.home {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 3rem);
    row-gap: 1.5rem;
}

.home_data {
    align-self: center;
    /* position: relative;
    overflow: hidden; */
}

.home_title {
    font-size: var(--big-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-5);
}

.home_title-color {
    color: var(--second-color);
}

.home_social {
    display: flex;
    flex-direction: column;
}

.home_social-icon {
    width: max-content;
    font-size: 1.5rem;
    color: var(--second-color);
    margin-bottom: var(--mb-2);
}

.home_social-icon:hover {
    color: var(--first-color);
}

.home_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 290px;
    height: 390px;
    margin-right: 0;
    margin-top: 120px;
}

/*==================== Buttons ====================*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 1rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
}

.button:hover {
    background-color: var(--second-color);
    color: var(--first-color);
    box-shadow: 0, 10px, 36px, rgba(0, 0, 0, 0.15);
}

/*==================== About ====================*/

.about_container {
    display: grid;
    row-gap: 2rem;
    text-align: center;
}

.about_subtitle {
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
}

/* .about_title-color {
    color: var(--heading-color);
} */

.about_text {
    margin-right: 40px;
}

.about_img {
    flex: 1 1 100%;
    text-align: center;
}

.about_img img {
    max-width: 100%;
    height: auto;
    /* padding: 30px; */
    margin: 35px;
}

/*==================== Design ====================*/

/* .design_container {
    display: grid;
    row-gap: 2rem;
    text-align: center;
    margin-top: var(--mb-4);
} */

.design_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center; /* Optional: Center align text */
}

.design_container > div {
    max-width: 600px; /* Adjust the max-width as needed */
    width: 100%;
    padding: 20px; /* Optional: Add some padding */
}

/* .design_subtitle {
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
} */

.design_subtitle, .about_text, ul {
    /* margin: 0 auto; */
    max-width: 600px; /* Adjust the max-width as needed */
    text-align: left; /* Optional: Left align text */
}

/* .about_title-color {
    color: var(--heading-color);
} */

.design_text {
    margin-right: 40px;
}

.design_img {
    justify-self: center;
}

.design_img img {
    width: 200px;
    border-radius: .5rem;
}

/*==================== Skills ====================*/

.skills_container {
    row-gap: 2rem;
    text-align: center;
}

.skills_subtitle {
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
}

.skills_text {
    margin-bottom: var(--mb-4);
}

.skills_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills_icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills_name {
    font-size: var(--h3-font-size);
    display: flex;
    align-items: center;
}

.skills_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--second-color);
    border-radius: .5rem;
    height: .2rem;
    z-index: var(--z-back);
}

.skills_Adv_soft {
    width: 95%;
}

.skills_sa {
    width: 91%;
}

.skills_mp {
    width: 82%;
}

.skills_am {
    width: 80%;
}

.skills__img {
    border-radius: 0.5rem;
    margin-left: var(--mb-6);
    width: 100%;
}


/*==================== Projects ====================*/

.project {
    text-align: center;
}

.project_container {
    row-gap: 2rem;
}

.project_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

.project_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
}

.project_img img:hover {
    transform: scale(1.1);
}


/*==================== Research ====================*/

.research {
    text-align: center;
}

.research_container {
    row-gap: 2rem;
}

.research_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

.research_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
}

.research_img img:hover {
    transform: scale(1.1);
}

/*==================== cv ====================*/

.cv {
    text-align: center;
}

.cv_container {
    row-gap: 2rem;
}

.cv_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

.cv_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
}

.cv_img img:hover {
    transform: scale(1.1);
}

.cv_subtitle {
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
}

/*==================== Publications ====================*/

.publications {
    text-align: center;
}

.publications_container {
    row-gap: 2rem;
}

.publications_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

.publications_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
}

.publications_img img:hover {
    transform: scale(1.1);
}

.publications_subtitle {
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
}

/*==================== Contact ====================*/

/* .contact {
    text-align: center;
} */

.contact_input {
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    outline: none;
}

.contact_button {
    display: block;
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 1rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: auto;
}


/*==================== FOOTER ====================*/

.footer {
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 2rem 0;
    text-align: center;
    font-weight: var(--font-semi);
    width: 100%;
}

.footer_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
}

.footer_social {
    margin-bottom: var(--mb-4);
}

.footer_social-icon {
    font-size: 1.5rem;
    color: var(--second-color);
    margin: 0 var(--mb-2);
} 


/*==================== MEDIA QUERIES ====================*/

@media screen and (min-width: 768px) {
    body {
        /* margin: var(--header-height) 20px 0 20px; */
        margin: 0;
    }

    .section {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .section-title {
        /* font-size: var(--h1-font-size); */
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        top: 3rem;
        width: 80px;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav_list {
        display: flex;
        padding-top: 0;
        margin-right: 25px;
        margin-bottom: 10px;
        list-style-type: none;
    }

    ul {
        list-style-type: disc;
        margin: 0;
        padding: 0;
        list-style-type: disc;
        margin-left: 25px;
        margin-top: 20px;
    }

    ul ul {
        list-style-type: circle; /* Change bullet style for nested lists */
        margin-left: 20px; /* Indent nested lists */
    }

    .nav_item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav_toggle {
        display: none;
    }

    .nav_link {
        font-size: var(--small-font-size);
        color : var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        align-self: flex-end;
    }

    .home_social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home_social-icon {
        font-size: 2rem;
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home_img {
        width: 400px;
        height: 500px;
        margin-top: 0;
        /* margin-right: 0; */
        bottom: 15%;
    }

    .about_container, .skills_container, .cv_container, .publications_container, .design_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        justify-items: center;
        align-items: center;
        margin-bottom: var(--mb-6);
    }

    .about_img, img{
        justify-self: flex-begin;
        width: 380px;
    }

    .design_img, img{
        justify-self: flex-begin;
        width: 380px;
    }

    .research_container, .project_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 2rem;
    }

    .cv_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: 1s;
    }

    .cv_button {
        padding: 1rem 1.5rem;
        font-weight: var(--font-semi);
        border-radius: 0.5rem;
        cursor: pointer;
        justify-self: center;
        align-items: center;
    }

    .publications_img, .cv_img {
        width: 80%;
        height: 500px;
        box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
        border-radius: .5rem;
        overflow: hidden;
    }

    .publications_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: 1s;
    }

    .publications_button {
        padding: 1rem 1.5rem;
        font-weight: var(--font-semi);
        border-radius: 0.5rem;
        cursor: pointer;
        justify-self: center;
        align-items: center;
    }

    .contact_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }

    .contact_button {
        padding: 1rem 1.5rem;
        font-weight: var(--font-semi);
        border-radius: 0.5rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        margin-top: 1rem;
        margin-left: 0;
        display: inline-block;
    }

    .responsive-br {
        display: inline;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: left; /* Center align header text */
    }
    
    td {
        text-align: left; /* Center align table data */
    }
    
    tr:nth-child(even) {
        background-color: #f9f9f9; /* Add zebra striping for better readability */
    }
    
    tr:hover {
        background-color: #f1f1f1; /* Highlight row on hover */
    }

}

@media screen and (min-width: 1024px) {
    
    .bd-grid  {
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* .gradient-background {
    background: linear-gradient(300deg, #213555, #79D7BE, #F6F4F0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    border-radius: 50%;
    height: 100px;
  } */
  